* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-outline: 0;
	font-family: Roboto, sans-serif, arial;
}


html,
body {
	font-size: 14px !important;
	font-weight: 400 !important;
	background: #000000 !important;
	color: #fff !important;
}

.nav-item .nav-link{
    color: white;
}
