body {
    background-color: #d95d5d;
    font-family: Arial, sans-serif;
}


.social-icons a {
    display: inline-block;
    margin-right: 20px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
}
.navbar-brand {
    color: darkorchid;
    font-size: 24px;
}



.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-photo {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.section-title {
    color: #333;
    margin-top: 30px;
}


.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}


.team-member {
    text-align: center;
    margin-top: 20px;
}

.team-member img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.team-member h3 {
    margin-top: 10px;
    font-size: 18px;
}

.team-member p {
    font-size: 16px;
}